body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.carousel-container {
    position: relative;
    width: 50%;
    
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s;

}

.carousel-slide img {
    
    height: 550px;
   
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

